<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DBOperations" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_AuthenticationUser">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ABCService_991531576"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DBOperations"
                contract="ServiceReference1.DBOperations" name="BasicHttpBinding_DBOperations" />
            <endpoint address="net.tcp://localhost:8090/ABCService_991531576"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AuthenticationUser"
                contract="ServiceReference1.AuthenticationUser" name="NetTcpBinding_AuthenticationUser">
                <identity>
                    <userPrincipalName value="DESKTOP-VA2IFSS\weblastor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>